# Entornos virtuales y cachés de Python
venv/
.venv/
.pytest_cache/
__pycache__/
.coverage

# Archivos compilados de Python
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw

# Archivos de compilación de LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.xdv